body {
    width: 60%;
}

#Menu {
    color: #333333;
    font: 14px;
    padding: 70px 0px;
}
#Menu h1 {
    color: #2E2E2E;
    font: 22px;
    padding: 40px 0px;
    background: #C8C1B3;
    margin: 0px 0px 0px -70px;
}
span {
    color: #FF530A;
    font: 28px;
}
#Menu p {
    color: #9D9D9D;
    font: 16px;
    padding: 40px 0px 0px;
}
.Prezzi button {
    color: #FF4F02;
    font: 15px;
    padding: 28px 100px;
}

.Prezzi {
    padding: 85px 0px 0px 0px;
}
.Prezzi .Titolo {
    font: 14px;
    padding: 30px 0px;
}
.Titolo h3 {
    font: 20px;
}
.Titolo span {
    font: 20px;
}

li {
    list-style: none;
    font: 14px;
    padding: 21px 0px;
}
li h2 {
    font: 24px;
    background: #FFFFFF;
}
li span {
    color: #938463;
    font: 14px;
    padding: 10px 0px 0px;
}
li p {
    color: #949494;
    font: 14px;
    padding: 12px 0px 0px;
}
